.sidebar {
  background-color: var(--gray-2);
  border-radius: 8px;
  overflow: hidden;
}

.cover {
  /* Por padrão, a imagem tem o display inline, o que pode aplicar um espaço embaixo do elemento*/
  display: block;
  height: 4.5rem;
  object-fit: cover;
  width: 100%;
}

.profile {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-top: calc(0px - 1.5rem - 6px);
  /* margin-top: -30px; (mesma coisa)*/
}

.profile strong {
  color: var(--gray-7);
  line-height: 2;
  margin-top: 1.25rem;
}

.profile span {
  color: var(--gray-5);
  font-size: 0.875rem;
  line-height: 1.8;
}

.sidebar footer {
  border-top: 1px solid var(--gray-3);
  margin-top: 1.5rem;
  padding: 1.5rem 2rem 2rem;
}

.sidebar footer a {
  /* por ser tag A, o fundo ja é transparente por padrão */
  border: 1px solid var(--green-light);
  border-radius: 8px;
  color: var(--green-light);
  display: flex;
  font-weight: bold;
  gap: 0.5rem;
  justify-content: center;
  padding: 1rem 1.25rem;
  text-decoration: none;
  transition: color 0.2s, background-color 0.2s;
}

.sidebar footer a:hover {
  background-color: var(--green-light);
  color: white;
}

@media (max-width: 768px) {
  .sidebar footer a {
    max-width: 20rem;
    margin: 0 auto;
  }
}
